@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gulzar&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

*::-webkit-scrollbar{
    width: .7rem;
}
*::-webkit-scrollbar-track{
    background: rgba(0, 34, 255, 0.803);
}
*::-webkit-scrollbar-thumb{
    background: #ff0303cb;
}
        body{
            margin: 0;
        }
        .head{
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Secular One', sans-serif;
            font-size: x-small;
            margin-bottom: 20px;
            height:80px;
            color: white;
            font-weight: 500;
            letter-spacing: 2px;
            background: linear-gradient(94deg, rgb(4, 17, 255) 0%, rgb(0, 255, 94) 100%);
            box-shadow: 0 20px 15px -0px rgba(0, 0, 0, 0.368);
        
        }
        .semheader{
            display: flex;
            justify-content: center;
            font-family: 'Secular One', sans-serif;
            margin: 30px;
        }
     
        .semheader h2{
            font-weight: 800;
            font-size: 40px;
            color:black;
        }
        .cont{
            margin: 40px; 
            display:flex;
            flex-wrap: wrap;
            display: flex;
            justify-content: space-around;
        }
        .box{
            margin: 15px;
            height: 300px;
            width: 250px;
            background-color: rgb(11, 251, 111); 
            box-shadow: 0 5rem 4rem -3rem hsl(300 60% 20% / 40%);
            transition: transform .1s;
            cursor: pointer;
            overflow-wrap: hidden;
        }
         
         .box:hover{
             transform: scale(1.1);
         }

        .box::before{
            content: "";
            position: absolute;
            height: 45px;
            width: 250px;
            background-color: rgb(50, 62, 123);
/* before box */
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            color: white;
            font-family: 'Gentium Book Plus', serif;
        }
        
        .box1{
            background-image: url(Web-Development.jpg);
            background-size: cover;
        }
        .box2{
            background-image: url(python.jpg);
            background-size: cover;
        }
        .box3{
            background-image: url(algo.jpg);
            background-size: cover;
        }
        .box4{
            background-image: url(soft.jpg);
            background-size: cover;
        }
        .box1::before{
            content: "Web Devlopment";
        }
        .box2::before{
            content: "Python";
          
        }
        .box3::before{
            content: "Design and Analysis of Algorithms";
           
        }
        .box4::before{
            content: "Software Engineering";
        }

/* model box css */
.page{
    margin: 10px;
}
.modal-header{
    background-image:url(bg.jpg);
    background-size: cover;
}
#headcenter{
    position: relative;
    left: 40%;
    color:white;
    font-family: 'Gentium Book Plus', serif;
}

.programmboxes{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.programbox1{
    height: 400px;
    width: 50%;
    background-color: rgb(76, 142, 213);
    margin: 20px;
    border-radius:10px;
    overflow-y: scroll;
    padding: 10px;
}

.programbox1::before{
    content: "";
    height:70px; 
    width: 30px;
    background-color: rgb(76, 142, 213);
    border-radius:7px 0 0 7px;
    position: absolute;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 25px;
}
#programbox11::before {
    content: "1";
}
#programbox12::before{
    content: "2";
}
#programbox13::before{
    content: "3";
}
#programbox14::before{
    content: "4";
}
#programbox15::before{
    content: "5";
}
#programbox16::before{
    content: "6";
}
.programbox2{
    height: 400px;
    width: 44%;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    border-radius:10px;
    padding: 10px;
    overflow-y: scroll;
}
@media only screen and (max-width: 1000px) {
    #headcenter{
        left: 30%;
    }
   .programbox1{
    height: 200px;
    width: 100%;
   }
   .programbox2{
    height: 200px;
    width: 100%;
   }
}
@media only screen and (max-width: 500px) {
  
    #headcenter{
        left: 20%;
    }
}
.modal-body{
    background-color: rgb(42, 24, 59);
    margin: 0;
}

.programmheader{
    display: grid;
    justify-content: center;
    margin-bottom: 10px;
}
.practicalheader h5{
    margin:0;padding:0;color: white;font-weight: 600;position:relative;
    margin-left: 20px;
}

.firstbox{
    width: 100%;
    display: flex;
    
}

li{
    color: white;
}

img
{
    background-size: cover;
    width: 100%;
}

.number{
    left: 5px;
    top: 150px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    position:absolute;
}
.number2{
    margin-top: 450px;
}
.number3{
    margin-top: 890px;
}
@media only screen and (max-width: 600px){
    .number{
        top: 190px;
    }
    .number2{
        margin-top: 480px;
    }
    .number3{
        margin-top: 950px;
    }
}

ol{
    margin-left: 20px;
}


/* temp */
#upload{
    display: grid;
    justify-content: center;
    align-items: center;
    color: rgba(97, 112, 125, 0.789);
}

/* pyhon */

.pythonhead{
    background-image: url(bg2.jpg);
}

.ml2 .letter {
    display: inline-block;
    line-height: 1em;
  }

.py1{
    width: 100%;
    height: 500px;
}
.pyprogramboxes{
    background-color: #24292d;
}

/* DAA */

.headcenterdaa{
    margin-left: -10%;
}
.headcenterse{
    margin-left: -5%;
}

.daahead{
    background-image: url(https://i.ytimg.com/vi/xZVAkCpDdSs/maxresdefault.jpg);
}
.sehead{
    background-image: url(https://wallpapercave.com/wp/wp2422279.jpg);
}
